---
import "../styles/tailwind.css";
import Nav from "../components/layout/Nav.astro";
import Footer from "../components/layout/Footer.astro";
import Background from "../components/layout/Background.astro";
const { title = "Echelon Hackathon" } = Astro.props;
---

<!doctype html>
<html lang="en" class="antialiased bg-graphite-900 text-graphite-50">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{title}</title>
  </head>
  <body class="min-h-screen bg-graphite-900 text-graphite-50">
    <Background />

    <!-- Scrollable content -->
    <div class="relative z-10">
      <Nav />
      <main class="max-w-6xl mx-auto px-4 sm:px-6">
        <slot />
      </main>
      <Footer   contacts={[
        { name: 'Shubhan Singh', email: 'geekedoutloud04@gmail.com' }
      ]}/>
      <!--- 
      contacts={[
        { name: 'John Doe', email: 'john@example.com' },
        { name: 'Jane Smith', email: 'jane@example.com' }
      ]}
      --->
    </div>
  </body>
</html>